.question {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

/* Style des bonnes réponses en vert */
.correct {
    color: green;
}

/* Style des réponses incorrectes en rouge */
.false {
    color: red;
}