body
{
	background-color: white;
}
header{
	border: 2px solid black;
	height: 200px;
	width: 60%;
	margin-bottom: 10px;
	background-color: black;
}

section{
	border: 2px solid black;
	height: 200px;
	width: 60%;
	margin-bottom: 10px;
	background-color: white;
}

div.d1{
	float: left;
	width: 20%;
}
div.i3{
	width: 100%;
}
div.i1{
	float: left;
	padding: 20px;
}
div.i2{
	float: right;
	padding:20px;
}
div.cadre{
	width: 60%;
	border: 2px solid black;
	margin: auto;
}
